<link rel="stylesheet" href="/stylesheets/header.css" />
<%- include('head') %>

<header>
  <div class="title">
    <h1>Bird Sighting</h1>
  </div>
  <div class="nav">
    <a href="/">
      <button class="sighting-btn" type="submit">Sighting List</button>
    </a>
  </div>
</header>
