<link rel="stylesheet" href="/stylesheets/header.css" />
<%- include('head') %>

<header>
  <div class="title">
     <h1 id="title">Bird Sighting</h1>
  </div>
  <div class="nav">
    <div class="add-button">
      <button class="btn btn-primary" onclick="handleButtonClick()">
        <i class="fa fa-plus-circle"></i> Add New Sighting
      </button>
    </div>
  </div>
  <!-- Add a modal container -->
  <%- include('../../public/page/create_offline.html') %>
</header>

<script>

  // Get the h1 element by its ID
  const titleElement = document.getElementById('title');

  // Add the click event listener to the h1 element
  titleElement.addEventListener('click', () => {

    if (!navigator.onLine) {
       window.location.href = '/page/index_offline.html'

    } else {
       window.location.href = '/';
    }


  });


  // Function to handle the button click event
  function handleButtonClick() {
    if (!navigator.onLine) {
      // If the browser is offline, display the offline modal window
      var offlineModal = document.getElementById('offlineModal');
      offlineModal.style.display = 'block';

    } else {
      // If the browser is online, redirect to the "/create" page
      window.location.href = '/create';
    }
  }

</script>
