/* Style the modal container */
.modal {
  display: none;
  position: fixed;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.offlineModal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 40%;
}

#offlineForm {
  display: flex;
  flex-direction: column;
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #28b487;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}
