<!DOCTYPE html>
<html>
  <head>
    <title>Create a new Sighting</title>
    <link rel="stylesheet" href=".././stylesheets/create.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Create a new Sighting</h1>
        <button class="sighting-btn" type="submit">Sighting List</button>
      </div>
      <div class="form">
        <div class="form-container">
          <div class="input-container">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required />
          </div>

          <div class="input-container">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required />
          </div>

          <div class="input-container">
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required />
          </div>

          <div class="input-container">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required />
          </div>
          <hr />

          <div class="input-container">
            <label for="identification">Identification:</label>
            <input
              type="text"
              id="identification"
              name="identification"
              required
            />
          </div>

          <div class="input-container">
            <label for="bird-name">Bird Name:</label>
            <input type="text" id="bird-name" name="bird-name" required />
          </div>

          <div class="input-container">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
          </div>

          <div class="input-container">
            <label for="url">URL:</label>
            <input type="text" id="url" name="url" />
          </div>

          <div class="input-container">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" />
          </div>

          <button type="submit">
            <i class="fa fa-plus-circle"></i> Create
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
