<!DOCTYPE html>
<html>
  <head>
    <title>Create a new Sighting</title>
    <link rel="stylesheet" href=".././stylesheets/create.css" />
    <%- include('partials/header') %>
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h1 class="page-title">Create a new Sighting</h1>
      </div>
      <form class="sighting-form" id="sighting-form">
        <div class="form-container">
          <div class="input-container">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required />
          </div>

          <div class="input-container">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required />
          </div>

          <div class="input-container">
            <label for="location">Location:</label>
            <input type="text" placeholder="Please select from the map" id="location" name="location" required />
          </div>

          <div class="input-container">
            <label for="Distance">Distance:</label>
            <input type="text" id="Distance" name="Distance" required disabled />
          </div>

          <div id="map" style="height: 300px;width: 700px"></div>
          <hr />

          <div class="input-container">
            <label for="identification">Identification:</label>
            <input
              type="text"
              id="identification"
              name="identification"
              required
            />
          </div>

          <div class="input-container">
            <label for="bird-name">Bird Name:</label>
            <input type="text" id="bird-name" name="bird-name" required />
          </div>

          <div class="input-container">
            <label for="description">Bird Description:</label>
            <textarea
              id="bird-description"
              name="bird-description"
              required
            ></textarea>
          </div>

          <div class="input-container">
            <label for="url">URL:</label>
            <input type="text" id="url" name="url" />
          </div>

          <div class="input-container">
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" />
          </div>

          <button type="submit" class="create-btn">
            <i class="fa fa-plus-circle"></i> Create
          </button>
        </div>
      </form>

      <!--    map-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3zXfnVpTkl7MMXYScQFqwUY3Pvm9fP5w&callback=initMap&language=en" async defer></script>
      <script>
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 53.381766908539895, lng: -1.4816093444824219},
            zoom: 12
          });

          map.addListener('click', function(e) {
            var location = e.latLng;
            var locationInput = document.getElementById('location');
            locationInput.value =location.lat() + ',' + location.lng();
            // alert('您选择的位置是：' + location.lat() + ',' + location.lng());
          });
        }
      </script>


      <script>
        const username = sessionStorage.getItem("username");

        document.addEventListener("DOMContentLoaded", () => {
          const form = document.getElementById("sighting-form");

          form.addEventListener("submit", async (event) => {
            event.preventDefault(); // Prevent form from submitting normally

            const data = {
              description: document.getElementById("description").value,
              date: document.getElementById("date").value,
              author: username,
              location: document.getElementById("location").value,
              identification: document.getElementById("identification").value,
              birdName: document.getElementById("bird-name").value,
              birdDescription:
                document.getElementById("bird-description").value,
              url: document.getElementById("url").value,
              image: document.getElementById("image").files[0],
            };

            const formData = new FormData();
            for (const key in data) {
              formData.append(key, data[key]);
            }

            const response = await fetch("/add", {
              method: "POST",
              body: formData,
            });

            if (response.ok) {
              alert("Sighting created successfully!");
              form.reset();
            } else {
              alert("Error creating sighting");
            }
          });
        });
      </script>
    </div>
  </body>
</html>
