<!DOCTYPE html>
<html>
  <head>
    <title>Create a new Sighting</title>
    <%- include('partials/head') %>

    <link rel="stylesheet" href=".././stylesheets/create.css" />
    <%- include('partials/header') %>

    <!--    get current location-->
    <script>
      var latitude = null;
      var longitude = null;
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          function (position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            // console.log('Latitude:', latitude, 'Longitude:', longitude);
            // alert('The location you have selected is：' + latitude + ',' + longitude);
          },
          function (error) {
            console.log("Error getting current position:", error);
          }
        );
      } else {
        console.log("Geolocation is not supported by this browser.");
      }
    </script>
  </head>

  <body>
    <div class="container">
      <div class="title-container">
        <h1 class="page-title">Create a new Sighting</h1>
      </div>
      <form class="sighting-form" id="sighting-form">
        <!-- <div class="form-container"> -->
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <input
            type="text"
            id="description"
            name="description"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            placeholder="Please select from the map"
            id="location"
            name="location"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="distance" class="form-label">Distance:</label>
          <input
            type="text"
            id="distance"
            name="distance"
            class="form-control"
            required
            disabled
          />
        </div>

        <div class="mb-3">
          <div id="map"></div>
        </div>
        <hr />

        <div class="mb-3">
          <label for="identification" class="form-label">Identification:</label>
          <input
            type="text"
            id="identification"
            name="identification"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="bird-name" class="form-label">Bird Name:</label>
          <input
            type="text"
            id="bird-name"
            name="bird-name"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Bird Description:</label>
          <textarea
            id="bird-description"
            name="bird-description"
            class="form-control"
            required
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="url" class="form-label">URL:</label>
          <input type="text" id="url" name="url" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image:</label>
          <input type="file" id="image" name="image" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <!-- </div> -->
      </form>
    </div>

    <!--    map-->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3zXfnVpTkl7MMXYScQFqwUY3Pvm9fP5w&callback=initMap&language=en"
      async
      defer
    ></script>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 53.381766908539895, lng: -1.4816093444824219 },
          zoom: 12,
        });

        map.addListener("click", function (e) {
          var location = e.latLng;
          var locationInput = document.getElementById("location");
          locationInput.value = location.lat() + "," + location.lng();
          // alert('The location you have selected is：' + location.lat() + ',' + location.lng());

          const distance = getDistanceFromLatLonInKm(
            location.lat(),
            location.lng(),
            latitude,
            longitude
          );
          // alert(distance); // （Unit: kilometre）
          var DistanceInput = document.getElementById("distance");
          DistanceInput.value = distance + "km";
        });
      }

      // compute distance
      function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
        const R = 6371; // 地球半径（单位：千米）
        const dLat = deg2rad(lat2 - lat1);
        const dLon = deg2rad(lon2 - lon1);
        const a =
          Math.sin(dLat / 2) * Math.sin(dLat / 2) +
          Math.cos(deg2rad(lat1)) *
            Math.cos(deg2rad(lat2)) *
            Math.sin(dLon / 2) *
            Math.sin(dLon / 2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        const distance = R * c; // Distance (in kilometres)
        return distance;
      }

      function deg2rad(deg) {
        return deg * (Math.PI / 180);
      }
    </script>

    <script>
      const username = sessionStorage.getItem("username");

      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("sighting-form");

        form.addEventListener("submit", async (event) => {
          event.preventDefault(); // Prevent form from submitting normally

          const data = {
            description: document.getElementById("description").value,
            date: document.getElementById("date").value,
            author: username,
            location: document.getElementById("location").value,
            distance: document.getElementById("distance").value,
            identification: document.getElementById("identification").value,
            birdName: document.getElementById("bird-name").value,
            birdDescription: document.getElementById("bird-description").value,
            url: document.getElementById("url").value,
            image: document.getElementById("image").files[0],
          };

          const formData = new FormData();
          for (const key in data) {
            formData.append(key, data[key]);
          }

          const response = await fetch("/add", {
            method: "POST",
            body: formData,
          });

          if (response.ok) {
            alert("Sighting created successfully!");
            form.reset();
          } else {
            alert("Error creating sighting");
          }
        });
      });
    </script>
  </body>
</html>
