<!DOCTYPE html>
<html>
  <head>
    <title>Create a new Sighting</title>
    <link rel="stylesheet" href=".././stylesheets/details.css" />
    <%- include('partials/header') %>
  </head>

  <body>
    <div class="container">
      <div class="left_container">
        <div class="img_container">
          <img src="/image/bird.jpg" alt="Bird1" />
        </div>
        <div class="comment-box">
          <h2>Comment</h2>
          <textarea class="my-textarea" id="comment" rows="8"></textarea>
          <a href="#" class="send-message-btn">Send Message</a>
        </div>
      </div>

      <div class="right_container">
        <div class="identification_container">
          <h2>Identification Form</h2>
          <label class="description_label" for="description_label"
            >Description:</label
          >
          <textarea
            class="desciption_text"
            id="description"
            rows="8"
          ></textarea>
          <label class="url_label" for="url">URL:</label>
          <input type="text" id="url" placeholder="URL" />
        </div>
        <div class="metadata">
          <h2>Metadata</h2>
          <p><strong>Date:</strong> 2023-03-20</p>
          <p><strong>Author:</strong> John Doe</p>
          <p><strong>Location:</strong> New York, NY</p>
          <p>
            <strong>Description:</strong> A beautiful bird sighted in Central
            Park.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
