* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 80vh;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 5rem;
}

.title-container {
  margin-bottom: 2rem;
  text-align: center;
}

.sighting-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border: 0.1rem solid #104937;
  border-radius: 1rem;
  box-shadow: 0px 0px 0.1rem grey;
  margin-top: 2rem;
  max-width: 80rem;
}

label {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  max-width: 100%;
  flex-basis: 50%; /* adjust as needed */
}

hr {
  margin-bottom: 2rem;
}

input[type="text"],
input[type="date"],
input[type="datetime-local"] {
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid grey;
  font-size: 1.8rem;
  max-width: 100%;
  flex-basis: 70%; /* adjust as needed */
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

textarea {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid grey;
  font-size: 1.8rem;
  /* resize: vertical; */
  max-width: 100%;
}
.create-btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 100%;
}

/* Adjust layout for small screens */
@media screen and (max-width: 768px) {
  .input-container {
    flex-wrap: wrap;
  }
  label {
    flex-basis: 100%;
  }
  .page-title {
    font: 1.6rem;
  }
  input[type="text"],
  input[type="date"],
  input[type="datetime-local"],
  textarea {
    flex-basis: 100%;
    margin-left: 0;
  }
}
