/* Style the modal container */
.modal {
  display: none;
  position: fixed;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.offlineModal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 40%;
}

#offlineForm {
  display: flex;
  flex-direction: column;
}
