/* Style the modal container */
.modal {
  display: none;
  position: fixed;
  /* z-index: 9999; */
  /* left: 0; */
  /* top: 0; */
  max-width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style the modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

#offlineForm {
  display: flex;
  flex-direction: column;
}

button[type="submit"] {
  margin-top: 10px;
}
