* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem;
  font-family: "Lato", sans-serif;
  background: cadetblue;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }
  .left_container,
  .right_container {
    max-width: 100%;
    margin: 0;
  }
  .left_container {
    margin-bottom: 1rem;
  }
  .img_container img {
    max-width: 50%;
    height: auto;
  }
}

/* Image and Chat */
.left_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.img_container {
  max-width: 30rem;
}
.img_container img {
  max-width: 100%;
}

/* Chat */
.chat-interface {
  margin-top: 1rem;
}
.history {
  margin-top: 0.5rem;
}
.chat-form {
  width: 100%;
}
.chat-input {
  /* display: inline-block; */
  width: 80%;
  border-radius: 0.5rem;
  border: 1px solid grey;
  margin-bottom: 1rem;
  background: rgba(150, 205, 205, 0.95);
}

.send-btn {
  /* display: inline-block; */
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  color: white;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.send-message-btn:hover {
  background-image: linear-gradient(to left, #7dd56f, #28b487);
}

/* Identification and Metadata */
.right_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50rem;
  margin-left: 8rem;
  margin-bottom: 1rem;
}

.identification_container {
  display: inline-block;
  max-width: 100%;
  font-style: italic;
}

.identification_container h2 {
  margin-bottom: 0.5rem;
}

.description_label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.bird_label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.url_label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.desciption_text,
#url,
#birdName {
  height: 10rem;
  width: 80%;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  background: rgba(150, 205, 205, 0.95);
}
#birdName {
  height: 3rem;
}
#url {
  height: 3rem;
  background: rgba(150, 205, 205, 0.95);
}

.metadata h2 {
  margin-bottom: 0.5rem;
  font-style: italic;
}
.metadata p {
  margin-bottom: 0.5rem;
}
