body {
  font-family: "Lato", sans-serif;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  padding: 1rem;
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.2rem;
  margin-left: 2rem;
  font-weight: bold;
  color: #28b487;
}

/* Style colums */
.col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  max-width: 100%;
  padding: 1rem;
}

/* Style cards */
.col-md-6 .card {
  margin-bottom: 1rem;
  flex-grow: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-header {
  padding: 0.25rem 0.5rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

.card-title {
  font-size: 1.2rem;
  color: #343a40;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

/* Chat */
.history {
  min-height: 10rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.message_container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.chat_label {
  font-size: 1rem;
  color: #aaa;
}

.message-text {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f5f5f5;
  max-width: 75%;
}

.message-sentAt {
  margin-left: 10px;
  font-size: 12px;
  color: #aaa;
}

.form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-text {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mb-3 {
  margin-bottom: 1rem;
}

.map-container {
  margin-top: 1rem;
  height: 20rem;
  max-width: 100%;
}

/* Style edit identification modal */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 1rem;
  border: 1px solid #888;
  width: 50%;
}

/* Responsive styles for small screens */
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-body {
    padding: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 1rem;
    margin-left: 2rem;
  }
}
