/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #f8f9fa;
}

.container {
  align-items: center;
  margin: 1rem auto;
  padding: 2rem;
  max-width: 80rem;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.table th {
  /* background-color: #28b487; */
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.headClickable:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.table td,
.table th {
  padding: 1rem;
  border-top: 1px solid #ddd;
}
.table tr:hover {
  background-color: #e6e6e6;
}

/* Card styles */
.card {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 0;
  font-size: 1rem;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.btn-primary {
  color: #fff;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-image: linear-gradient(to right, #28b487, #7dd56f);
}

.add-button {
  text-align: center;
}

/* Grid view styles */
#grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 1rem;
  justify-content: space-between;

  /*  display: flex;
  flex-wrap: wrap; */
}

/* #grid-view .col-sm-4 {
  flex: 0 0 calc(33.33% - 1rem);
  margin-bottom: 2rem;
} */

#table-body-distance {
  display: none;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  .table td,
  .table th {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.8rem;
  }

  /* #grid-view .col-sm-4 {
    flex: 0 0 calc(50% - 1rem);
  }
  @media (min-width: 768px) {
    #grid-view .col-md-3 {
      flex: 0 0 calc(33.33% - 1rem);
    }
  } */
}
