/* Set font family and size for the entire document */
body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

.container {
  align-items: center;
  margin: 1rem auto;
  padding: 2rem;
  max-width: 80rem;
}

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.table th {
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
}

.headClickable:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.table td,
.table th {
  padding: 1rem;
  border-top: 0.0625rem solid #ddd;
}
/* .table tr:hover {
  background-color: #e6e6e6;
} */

.button-group {
  display: flex;
  gap: 0.5rem;
  /* align-items: center; */
}

/* Style the grid view */
#grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 100%;
  border: none;
  /* border: 0.0625rem solid rgba(0, 0, 0, 0.125); */
  border-radius: 5px;
  cursor: pointer;
}
.card-img-top {
  width: 100%;
  height: auto;
  /* height: 12.5rem;
  object-fit: cover; */
}
.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

/* Style buttons */
/* .btn {
  border-radius: 5px;
  cursor: pointer;
}
.btn-secondary {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}
.btn-primary {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #fff;
  background-image: linear-gradient(to right, #7dd56f, #28b487);
  border: none;
}
.btn-primary:hover {
  color: #fff;
  background-image: linear-gradient(to right, #28b487, #7dd56f);
}
.add-button {
  display: flex;
  justify-content: center;
} */

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 }

.pagination a {
  display: inline-block;
  margin: 0 10px;

}

