body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

.container {
  margin: 1rem auto;
  margin-top: 5rem;
  padding: 2rem;
  max-width: 80rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.table th {
  font-weight: bold;
  text-align: left;
  background-color: #f2f2f2;
}

.headClickable:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.table td,
.table th {
  padding: 1rem;
  border-top: 0.0625rem solid #ddd;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

#grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  display: inline-block;
  margin: 0 10px;
}

.sync-spinner {
  display: none;
  position: fixed;
  place-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.sync-spinner .spinner-border {
  width: 3rem;
  height: 3rem;
}

.sync-spinner p {
  color: #28a745;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .container {
    margin-top: 1rem;
  }
  .pagination {
    flex-wrap: wrap;
    margin-top: 0;
  }

  .pagination a {
    margin: 5px;
  }
}

.headClickable::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin-left: 5px;
  border-bottom: 5px solid transparent;
}